body{
  background-color:#F0F2F5; 
scroll-behavior: smooth;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 70vh 15vh;
  grid-row-gap: 2vh;
  grid-column-gap: 3vw;
  grid-template-columns: 60vw 27vw;
  width: 90vw;
  height: 100vh;
margin: 0px auto;
background-color:#F0F2F5;
::-webkit-scrollbar {
  display: none;
}

}

*{
  margin: 0;
  padding: 0;
}
.Navbar{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.postContainer{
  height: 100%;
  background-color: white;
}
.listContainer{
  overflow-y: auto;
  background-color: white;
}
.footerContainer{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: white;

}
.flexrowCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexcolCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexrowSB{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .postContainer{
    /* display: none; */
  }
  .App{
    width: 100vw;
    height: 120vh;
    /* min-height: 100vh; */
    /* background-color: red; */
    grid-template-columns: 90vw;
  grid-template-rows: 10vh 50vh 300px 100px;
  grid-template-columns: 1fr;
  grid-row-gap: 0;
  grid-column-gap: 0;

  }
  /* .Navbar{
    grid-column-start: 1;
    grid-column-end: 3;
  } */

.listContainer{
  grid-column-start: 1;
  grid-column-end: 3;
  height: 300px;
}
.footerContainer{
  
}
}